# Ubidots MQTT (Industrial)
UBIDOTS_HOST=industrial.api.ubidots.com
UBIDOTS_PORT=8883
UBIDOTS_TOKEN=REPLACE_WITH_YOUR_TOKEN
UBIDOTS_DEVICE=aquarium_iteration_01

# Telemetría
PUB_PERIOD_SEC=45

# TLS (opcional: ruta a CA si tu cliente lo requiere; si no, usa default context)
# UBIDOTS_TLS_CA=/path/to/ubidots_ca.pem
